<%- include('partials/header') %>
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2 class="animate__animated animate__fadeInUp" > newrise  </h2>
        <ol>
          <li><a href="home">Home</a></li>
          <li>newrise</li>
        </ol>
      </div>

    </div>
  </section><!-- End Breadcrumbs -->

  
  <section id="portfolio-details" class="portfolio-details" style="color:blue ;">
    <div class="">
      <div class="portfolio-details-slider swiper">
        



          <div class="swiper-slide" 
            style=" height: 100vh; background-image: url( /images/image/IMG-20240725-WA0038.jpg);" ><h3>newrise</h3>
          </div>
          

        
  
    </div>


      <div class="row gy-4">

        

        
          <div class="animate__animated animate__fadeInDown portfolio-info">
           
          <div class="portfolio-description">
            <DIV style="padding: 0 3REM;"><h6> <i class="bi bi-building"></i>welcome to the newrises</h6><hr>
            <h1>A Splendore Of Pleasure And True Happines</h1>
            <p style="font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: black;
            padding: 1rem 7px;
            font-size: 1rem;">
              Our thoughtfully designed apartments are spacious, stylish, and built to the highest standards of quality. Whether you’re a single professional, a couple, or a growing family, you’ll find a home that suits your needs.
              </p>  </DIV>
              <div class=" " style="padding: 0 10%;">
                <div class="row">
                  <div  style="font-size: 1.7rem;
                  color: black;
                    font-family: wfont_1bb245_2594e48711d647359fcd88bd5613526a,wf_2594e48711d647359fcd88bd5,orig_trajan_pro_bold;" class="col-12 col-md-6 mb-4">
                    <div class="p-3 "><svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#000000"><path d="M176-200h-30.3L126-280H80v-214q0-25.9 17-43.95Q114-556 140-556h26v-144q0-24.75 17.63-42.38Q201.25-760 226-760h507q24.75 0 42.38 17.62Q793-724.75 793-700v144h27q24.75 0 42.38 17.62Q880-520.75 880-496v216h-46l-19.78 80h-30.44L764-280H197l-21 80Zm334-356h223v-144H510v144Zm-284 0h224v-144H226v144Zm-86 216h680v-156H140v156Zm680 0H140h680Z"/></svg> 
                   <h3>Studios,One & Two Bed DUPLEXES from USD 75,000</h3></div>
                  </div>
                  <div class="col-12 col-md-6 mb-4">
                    <div class="p-3 "><svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#5f6368"><path d="M480-276q109-83 164.5-169.5T700-600q0-97-61.5-158.5T480-820q-97 0-158.5 61.5T260-600q0 67 55.5 153.5T480-276Zm0 76Q338-303 269-406t-69-194q0-123 78.5-201.5T480-880q123 0 201.5 78.5T760-600q0 91-69 194T480-200Zm-1-320q34 0 57.5-23.5T560-600q0-33-23.5-56.5T479-680q-33 0-56 23.5T400-600q0 33 23 56.5t56 23.5ZM200-80v-60h560v60H200Zm280-520Z"/></svg>
                    <h3><a style="color: black;
                    text-decoration: underline;" href=""> View Location</a></h3></div>
                  </div>
                  <div class="col-12 col-md-6 mb-4">
                    <div class="p-3 "><svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#5f6368"><path d="M120-120v-555h165v-165h390v330h165v390H533v-165H427v165H120Zm60-60h105v-105H180v105Zm0-165h105v-105H180v105Zm0-165h105v-105H180v105Zm165 165h105v-105H345v105Zm0-165h105v-105H345v105Zm0-165h105v-105H345v105Zm165 330h105v-105H510v105Zm0-165h105v-105H510v105Zm0-165h105v-105H510v105Zm165 495h105v-105H675v105Zm0-165h105v-105H675v105Z"/></svg>
                      <h3><a style="color: black;
                    text-decoration: underline;" href=""> View Floor Plan</a></h3></div>
                  </div>
                  <div class="col-12 col-md-6 mb-4">
                    <div class="p-3 "><svg xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#5f6368"><path d="M438-120 310-248l43-42 85 85 169-170 43 43-212 212ZM180-780v60h600v-60H180Zm121 120 18 60h322l18-60H301Zm18 120q-19.5 0-35.25-11.63Q268-563.25 262-582l-25-78h-57q-24.75 0-42.37-17.63Q120-695.25 120-720v-120h720v120q0 25-17.62 42.5Q804.75-660 780-660h-57l-30 81q-6.93 17.25-22.34 28.12Q655.26-540 636-540H319ZM180-780v60-60Z"/></svg>
                    <h3 style="color: black;">Ready for occupation</h3></div>
                   
                  </div>
                  <div class=" col-12 d-flex justify-content-center" >
                    <a style="width: 14rem;
                    background-color: rgb(48, 51, 80);
                    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    font-size: 1.2rem;
                    color:white;" href="#" class="btn  ">Enquire</a>
                  </div>
                </div>
              </div>
            </p>
          </div>
        </div>

      </div>

    </div>

    <div id="image." ><img style="width: 100%;
      height: 678px;
      object-fit: cover;
      object-position: 30% 50%;" src="/images/image/IMG-20240725-WA0035.jpg"></div>

<br>
<div id="first">
<div id="title" style="display: inline-block;
padding: 2px 3%;
color: black;"> <h5> curated design and positioning</h5><hr>
   <p>The completion of Nairobi Express Way brings to the project a high potential of appreciation which has accelerated the devel­opment of the areas along the line, especially the area from Mombasa Road to Mlolongo.

    ♦ 1 minute drive to Syokimau expressway
    ♦ 1 minute drive to gateway mall
    ♦ 5 minutes to JKIA
    ♦ 15 minutes to TOWN
    ♦ There are dozens of enterprises, hospitals and three large
    ♦ 1 minute drive to Syokimau expressway
    ♦ 1 minute drive to gateway mall
    ♦ 5 minutes to JKIA
    ♦ 15 minutes to TOWN
    ♦ There are dozens of enterprises, hospitals and three large
   </p>
  </div>
</div><br><br>


    <div class=" ">
      <div class=" card mb-3 card-custom" >
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="/images/image/IMG-20240725-WA0022.jpg" class="card-img " alt="Interior Design">
              </div>
              <div class="col-md-4">
                  <img src="/images/image/IMG-20240725-WA0029.jpg" class="card-img " alt="Interior Design">
              </div>
              <div class="col-md-4">
                <img src="/images/image/IMG-20240725-WA0023.jpg" class="card-img " alt="Interior Design">
            </div>
          </div>
      </div>
  </div>

    <div class="">
<div class="">
      <div style="color: black;" class="d-flex justify-content-between ">
        <h3   > </h3>
         
        
      </div>
     
            <div class=" mt-4"style="
            max-height: 60vh;
            width: 98%;" >
              <div class="row h-100">
                <!-- Text Div -->
                <div class="col-md-6 d-flex align-items-center">
                  <div style="padding: 13% 4rem 0;
                  color: black;
                  " >
                    <h2>Two bedrooms</h2>
                    <p>Each 2 bedroom duplex apartment spans two levels, connected by a statement stairway that evokes the comfort of home. Enjoying elevated panoramic views, the bedrooms offer rich, bright, and airy spaces, adorned with large glazing that frames picture-perfect backdrops of the tranquil ambience.</p>
                  </div>
                </div>
                <!-- Image Div -->
                <div  class="col-md-6 d-flex align-items-center">
                  <img  style="width: 110%;
                  height: 364px;
                  object-fit: cover;
                  object-position: 50% 50%;" src="/images/image/IMG-20240725-WA0023.jpg" class="img-fluid" alt="Example Image">
                </div>
              </div>
            </div>


    </div>
    <div class="mt-4" style="
    max-height: 60vh;
    width: 98%;
    padding: 2rem 1rem;
    margin: 2rem 1rem;">
      <div class="row h-100">
        <!-- Image Div -->
        <div   class="col-md-6 d-flex align-items-center">
          <img  style="width: 100%;
          height: 364px;
          object-fit: cover;
          object-position: 50% 50%;" src="/images/image/IMG-20240725-WA0023.jpg" class="img-fluid" alt="Example Image">
        </div>
        <!-- Text Div -->
        <div class="col-md-6 d-flex align-items-center">
          <div style="color: black;">
            <h2>one bedrooms</h2>
            <p>Our 1-bedroom duplex apartments transcend conventional interior design, offering double-volume spaces in the living areas bathed in dappled light. The bedroom area is elegantly suspended over the living room, forging a breathtaking connection with the spaces below, seamlessly blending luxury with nature..</p>
          </div>
        </div>
      </div>
    </div>

    <div id="image." ><img style="width: 100%;
      height: 678px;
      object-fit: cover;
      object-position: 30% 50%;" src="/images/image/IMG-20240725-WA0035.jpg"></div>



    <div class=" mt-4"style="
            max-height: 60vh;
            width: 98%;" >
              <div class="row h-100">
                <!-- Text Div -->
                <div class="col-md-6 d-flex align-items-center">
                  <div style="padding: 13% 4rem 0;
                  color: black;
                  " >
                    <h2>Curated rooftop</h2>
                    <p> Accesible to all,is the rooftop oasis that promises modern amenities in the apartments. They include a heated swimming pool, fully-fitted gym, resident’s lounge, media lounge and inviting outdoor seating complemented by a soothing water feature, it promises an escape into serenity and leisure..</p>
                  </div>
                </div>
                <!-- Image Div -->
                <div  class="col-md-6 d-flex align-items-center">
                  <img  style="width: 110%;
                  height: 364px;
                  object-fit: cover;
                  object-position: 50% 50%;" src="/images/image/IMG-20240725-WA0023.jpg" class="img-fluid" alt="Example Image">
                </div>
              </div>
            </div>
           
            <div class="mt-4" style="
    max-height: 60vh;
    width: 98%;
    padding: 2rem 1rem;
    margin: 2rem 1rem;">
      <div class="row h-100">
        <!-- Image Div -->
        <div   class="col-md-6 d-flex align-items-center">



          <div class="portfolio-details-slider swiper">
            <div class="swiper">
              <div class="swiper-wrapper align-items-center">
  
                <div class="swiper-slide">
                  <img  style="width: 100%;
                  height: 364px;
                  object-fit: cover;
                  object-position: 50% 50%;" src="/images/image/IMG-20240725-WA0025.jpg" class="img-fluid" alt="Example Image">
                </div>
  
                <div class="swiper-slide">
                  <img  style="width: 100%;
                  height: 364px;
                  object-fit: cover;
                  object-position: 50% 50%;" src="/images/image/IMG-20240725-WA0026.jpg" class="img-fluid" alt="Example Image">
                </div>
  
                <div class="swiper-slide">
                  <img  style="width: 100%;
                  height: 364px;
                  object-fit: cover;
                  object-position: 50% 50%;" src="/images/image/IMG-20240725-WA0027.jpg" class="img-fluid" alt="Example Image">
                </div>
              </div>
              </div></div></div>
        <!-- Text Div -->
        <div class="col-md-6 d-flex align-items-center">
          <div style="color: black;">
            <h2>Unique prospect</h2>
            <p> newrise's ideal location within the UN Blue Zone and adjacent to Jomo kenyatta airport, Nairobi’s vibrant lifestyle and commercial hub make it an essential addition for anyone looking at real estate options in Kenya especially apartments for sale in Nairobi. In addition,  the construction of modern Train and air transport facilities in Kenya presents a prospect for increased demands for rental property from both local and international residents making  these luxury apartments an essential for your investor’s case.</p>
          </div>
        </div>
      </div>
    </div>

/<h4>Our pride</h4>
    <div id="image.1" style="margin-bottom: 2%;" ><img style="width: 100%;
      height: 678px;
      margin-bottom: 1%;
      object-fit: cover;
      object-position: 30% 50%;" src="/images/image/IMG-20240725-WA0039.jpg">
     <div class=" col-12 d-flex justify-content-center" >
      <a style="width: 14rem;
      background-color: rgb(48, 51, 80);
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 1.2rem;
      color:white;" href="#" class="btn  ">Download Bronchure</a>
    </div>  
    </div>


    <div style="width: 100%;
    height: 60vh;" class="map-container">
     <iframe 
     src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15954.692510693453!2d36.78955789314256!3d-1.452516262947027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f0d742ec24c8d%3A0xc023d073f8a94f5c!2sMlolongo!5e0!3m2!1sen!2ske!4v1691332985649!5m2!1sen!2ske" 
     frameborder="0" 
     style="border:0; width: 100%; height: 100%;" 
     allowfullscreen="" 
     loading="lazy" 
     referrerpolicy="no-referrer-when-downgrade">
 </iframe>
  </div>
  </section><!-- End Portfolio Details Section -->
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>


</main>
  <%- include('partials/footer') %>